Main flow

[{"id":"ca626a48.359d98","type":"watson-speech-to-text","z":"a72d0db2.58d2f","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"","x":164,"y":230,"wires":[["1b0d8b7.fe4f275","6985ab4e.967a54"]]},{"id":"1b0d8b7.fe4f275","type":"debug","z":"a72d0db2.58d2f","name":"","active":true,"console":"false","complete":"transcription","x":416,"y":46,"wires":[]},{"id":"40260504.bfd9fc","type":"http in","z":"a72d0db2.58d2f","name":"","url":"/sendwav","method":"post","swaggerDoc":"","x":124.5,"y":65,"wires":[["5dee201b.a211e"]]},{"id":"5dee201b.a211e","type":"function","z":"a72d0db2.58d2f","name":"Create buffer","func":"msg.payload = new Buffer(msg.payload, 'base64');\nreturn msg;","outputs":1,"noerr":0,"x":208,"y":150,"wires":[["ca626a48.359d98","dcd30c75.19a688"]]},{"id":"1dc430ff.e23bcf","type":"http response","z":"a72d0db2.58d2f","name":"","x":959.5,"y":401,"wires":[]},{"id":"93871c40.6c78e","type":"function","z":"a72d0db2.58d2f","name":"Set headers","func":"// Set the content type to audio wave\nmsg.headers={ 'Content-Type': 'audio/wav'};\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":814,"y":430,"wires":[["1dc430ff.e23bcf"]]},{"id":"3eb9c6d9.c1463a","type":"watson-text-to-speech","z":"a72d0db2.58d2f","name":"","lang":"english","voice":"en-US_LisaVoice","format":"audio/wav","x":759.5,"y":350,"wires":[["93871c40.6c78e"]]},{"id":"280c38e4.d7f3c8","type":"function","z":"a72d0db2.58d2f","name":"Format speech","func":"msg.payload = \"I'm sorry, I don't understand what you meant by: \" + msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":532.5,"y":340,"wires":[["3eb9c6d9.c1463a"]]},{"id":"7db791a0.82487","type":"link out","z":"a72d0db2.58d2f","name":"Outgoing news","links":["c1a9e90c.3e5618"],"x":590.5,"y":156,"wires":[]},{"id":"344a1fa9.cbb5e","type":"link out","z":"a72d0db2.58d2f","name":"Outgoing weather","links":["bd743b37.428bc8"],"x":526.5,"y":127,"wires":[]},{"id":"6985ab4e.967a54","type":"switch","z":"a72d0db2.58d2f","name":"Weather | News | 'Read It' | Otherwise","property":"transcription","propertyType":"msg","rules":[{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"news","vt":"str"},{"t":"cont","v":"Read it","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":475.5,"y":260,"wires":[["344a1fa9.cbb5e"],["7db791a0.82487"],["8fdf1d2f.7020e"],["280c38e4.d7f3c8"]]},{"id":"6d46036f.92b9fc","type":"cloudant in","z":"a72d0db2.58d2f","name":"","cloudant":"","database":"news","service":"watsondemos-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":810.5,"y":122,"wires":[["29705742.d68fa8","a7214c21.58deb"]]},{"id":"8fdf1d2f.7020e","type":"function","z":"a72d0db2.58d2f","name":"'Read it' - grab article","func":"msg.payload = 'article';\nreturn msg;","outputs":1,"noerr":0,"x":708.5,"y":194,"wires":[["6d46036f.92b9fc"]]},{"id":"29705742.d68fa8","type":"function","z":"a72d0db2.58d2f","name":"Format text","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":926.5,"y":245,"wires":[["3eb9c6d9.c1463a"]]},{"id":"a7214c21.58deb","type":"debug","z":"a72d0db2.58d2f","name":"","active":true,"console":"false","complete":"false","x":949.5,"y":86,"wires":[]},{"id":"3740b9c9.c8bf46","type":"inject","z":"a72d0db2.58d2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":657.5,"y":98,"wires":[["8fdf1d2f.7020e"]]},{"id":"dcd30c75.19a688","type":"debug","z":"a72d0db2.58d2f","name":"","active":true,"console":"false","complete":"false","x":404.49998474121094,"y":178.39999389648438,"wires":[]},{"id":"92ef39e9.6d10c8","type":"http response","z":"a72d0db2.58d2f","name":"","x":449,"y":428,"wires":[]},{"id":"8c181c15.73e7e","type":"function","z":"a72d0db2.58d2f","name":"","func":"msg.payload={data: 'hello'};\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":395,"wires":[["92ef39e9.6d10c8"]]},{"id":"fa5c3153.05a3d","type":"http in","z":"a72d0db2.58d2f","name":"","url":"/HelloWorld","method":"get","swaggerDoc":"","x":129,"y":398,"wires":[["b383b16e.4c7c5","9f6d0ea.f6092f"]]},{"id":"9f6d0ea.f6092f","type":"debug","z":"a72d0db2.58d2f","name":"","active":true,"console":"false","complete":"payload","x":447,"y":516,"wires":[]},{"id":"b383b16e.4c7c5","type":"function","z":"a72d0db2.58d2f","name":"","func":"console.log(\"before: \" + msg.payload.q);\nmsg.transcription=decodeURIComponent(msg.payload.q);\nconsole.log(\"after: \" + msg.transcription);\nreturn msg;","outputs":1,"noerr":0,"x":209,"y":310,"wires":[["6985ab4e.967a54","504f66b1.ea4218"]]},{"id":"504f66b1.ea4218","type":"debug","z":"a72d0db2.58d2f","name":"","active":true,"console":"false","complete":"true","x":332.5,"y":344,"wires":[]}]
