News

[{"id":"c1a9e90c.3e5618","type":"link in","z":"234f8d23.dcb072","name":"Incoming news","links":["7db791a0.82487","22a90a97.dd56f6"],"x":144.5,"y":39,"wires":[["e11cfeed.1ee3"]]},{"id":"e11cfeed.1ee3","type":"function","z":"234f8d23.dcb072","name":"Construst msg.query","func":"msg.query='start=now-1d&end=now';\nif (msg.transcription.indexOf('about') > -1) \n   {\n   about = msg.transcription.split('about ').pop().replace(/\\./g,'');       \n   msg.query=msg.query+'&q.enriched.url.title='+encodeURIComponent(about);\n   }\nif (msg.transcription.indexOf('positive') > -1 || msg.transcription.indexOf('good') > -1) \n   {\n   msg.query = msg.query +\n   '&q.enriched.url.enrichedTitle.docSentiment=|type=positive,score=>0.5|';\n   }  \nif (msg.transcription.indexOf('negative') > -1 || msg.transcription.indexOf('bad') > -1) \n   {\n   msg.query = msg.query +\n   '&q.enriched.url.enrichedTitle.docSentiment=|type=negative,score=<-0.5|';\n   }     \nreturn msg;","outputs":1,"noerr":0,"x":260,"y":167,"wires":[["205466dc.dfab9a","684bdfa5.97b42"]]},{"id":"205466dc.dfab9a","type":"news","z":"234f8d23.dcb072","name":"News","service":"_ext_","key":"4a255ce5a485279d713b7f2e3fce9cfbc2bddd46","start":"08/09/2016","end":"08/10/2016","query":"","custom":false,"queries":[],"results":["enriched.url.title","enriched.url.text"],"max":10,"mode":"json","x":473,"y":161,"wires":[["1610379.fe9efc8","5b37d474.a4c82c","33a6c5f0.cc593a"]]},{"id":"236d6c0d.dc9294","type":"inject","z":"234f8d23.dcb072","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":266.5,"y":255,"wires":[["e6a6a020.19596"]]},{"id":"e6a6a020.19596","type":"function","z":"234f8d23.dcb072","name":"","func":"msg.query='q.enriched.url.title=baseball';\nreturn msg;","outputs":1,"noerr":0,"x":446.5,"y":230,"wires":[["205466dc.dfab9a"]]},{"id":"1610379.fe9efc8","type":"debug","z":"234f8d23.dcb072","name":"","active":true,"console":"false","complete":"true","x":599.5,"y":242,"wires":[]},{"id":"5b37d474.a4c82c","type":"function","z":"234f8d23.dcb072","name":"Format speech","func":"console.log(msg.payload);\nmsg.payload = \"Article title is: \" + msg.payload.result.docs[0].source.enriched.url.title\n+ \".  If you would like me to read it, say: read it!\";\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":183,"wires":[["b71ae133.48e52"]]},{"id":"ae3bb07.f51c45","type":"http response","z":"234f8d23.dcb072","name":"","x":760,"y":422,"wires":[]},{"id":"b71ae133.48e52","type":"watson-text-to-speech","z":"234f8d23.dcb072","name":"","lang":"english","voice":"en-US_LisaVoice","format":"audio/wav","x":652,"y":310,"wires":[["ad70df64.528f2"]]},{"id":"ad70df64.528f2","type":"function","z":"234f8d23.dcb072","name":"Set headers","func":"// Set the content type to audio wave\nmsg.headers={ 'Content-Type': 'audio/wav'};\nmsg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":609,"y":396,"wires":[["ae3bb07.f51c45"]]},{"id":"5019cdf4.afe634","type":"cloudant out","z":"234f8d23.dcb072","name":"","cloudant":"","database":"news","service":"watsondemos-cloudantNoSQLDB","payonly":true,"operation":"insert","x":838.5,"y":36,"wires":[]},{"id":"4e9b90e4.b1647","type":"function","z":"234f8d23.dcb072","name":"","func":"msg.payload = {'_id':'article',\n               '_rev':msg.payload._rev,\n               'text':msg.text};\nreturn msg;","outputs":1,"noerr":0,"x":723.5,"y":62,"wires":[["5019cdf4.afe634","e214c01b.1deb4"]]},{"id":"e214c01b.1deb4","type":"debug","z":"234f8d23.dcb072","name":"","active":true,"console":"false","complete":"payload","x":711.5,"y":125,"wires":[]},{"id":"b573a821.4a8c58","type":"inject","z":"234f8d23.dcb072","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":275.5,"y":40,"wires":[["593fce75.a6c03"]]},{"id":"593fce75.a6c03","type":"function","z":"234f8d23.dcb072","name":"","func":"msg.transcription=\"news about donald trump\";\nreturn msg;","outputs":1,"noerr":0,"x":319.5,"y":93,"wires":[["e11cfeed.1ee3","684bdfa5.97b42"]]},{"id":"684bdfa5.97b42","type":"debug","z":"234f8d23.dcb072","name":"","active":true,"console":"false","complete":"true","x":379.5,"y":358,"wires":[]},{"id":"33a6c5f0.cc593a","type":"function","z":"234f8d23.dcb072","name":"grab article","func":"msg.text = msg.payload.result.docs[0].source.enriched.url.text;\nmsg.payload = 'article';\nconsole.log(\"*** msg.text is: \" + msg.text);\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":37,"wires":[["516fcac2.ae9034"]]},{"id":"516fcac2.ae9034","type":"cloudant in","z":"234f8d23.dcb072","name":"","cloudant":"","database":"news","service":"watsondemos-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":613,"y":34,"wires":[["4e9b90e4.b1647"]]}]
